.ruzova{
    color: rgb(212, 4, 167)
}
.zlute{
    color: rgb(241, 167, 7);
}
.tyrkysove{
    color: rgb(0, 183, 255);
}
p{
    line-height: 150%;
}
p.male {
    line-height: 100%;
    font-size: 50%;
}
img{
    display: block;
    margin-top: 10px;
    /* padding: 20px; */
}